body
  text-align: center

#playing
  position: relative
  left: 20%
  top: 10%
  width: 60%
  height: 70%
  background-color: gold
  alignment: center

#box0
  position: relative
  z-index: 500
  background-color: transparent

#box1
  position: relative
  z-index: 500
  background-color: transparent

#box2
  position: relative
  z-index: 500
  background-color: transparent

#box3
  position: relative
  z-index: 500
  background-color: transparent
